#right {
	width: 100%;
	height: 45vh;
	overflow: hidden;
	text-align: center;
	font-family: 'Share Tech Mono';
	font-weight: 500;

	color: white;
}

#time {
	letter-spacing: -0.1em;
	margin: 0;
	padding: 0;
	line-height: 25vh;
	font-size: 172pt;
}

#date {
	margin: 0;
	padding: 0;
	line-height: 5vh;
	font-size: 36pt;
}

.dot,
.colon {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#left {
	height: 25vh;
}

#countdown {
	height: 25vh;
	border-left: 10pt solid;
	line-height: 100%;
	background-color: aqua;
	text-indent: 15pt;
	font-family: 'Red Hat Mono';
	font-weight: 500;
	font-size: 25vh;
}
